@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url('img/KYAN.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 5%;
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    transition: background-color 0.3s;
    z-index: 1000;
}

.navbar:hover {
    background-color: #222;
}

.logo h1 {
    font-family: 'Lobster', cursive;
    font-size: 28px;
    color: white;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu a {
    color: #f8f8f8;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.3s ease;
}

.menu a:hover {
    color: #ffcc00;
}

#botao {
    background: #ffffff;
    padding: 10px 20px;
    color: #000;
    border-radius: 5px;
    transition: all 0.3s ease;
}

#botao:hover {
    background: rgb(156, 230, 73);
    transform: scale(1.1);
}

/* Menu Responsivo */
.menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

/* Seção principal */
section {
    text-align: center;
    padding: 80px 5%;
}

/* Cards responsivos */
.servicos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    flex: 1 1 300px;
    max-width: 320px;
    padding: 20px;
    border-radius: 15px;
    background: #222;
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
    background: aqua;
    color: black;
}

/* Rodapé */
footer {
    text-align: center;
    padding: 40px;
}

/* Responsividade */
@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        right: 0;
        width: 50%;
        background: rgba(0, 0, 0, 0.9);
        text-align: center;
    }

    .menu a {
        padding: 15px;
        display: block;
    }

    .menu-icon {
        display: block;
    }
}
